*

!.gitignore

!.github/
!.github/**

!src/
!src/**

!test/
!test/**

!package.json

!README.md
!AUTHORS
!LICENSE

!examples/
!examples/**

!release.config.cjs

!jsdoc.json

!benchmark.js

.npmrc

!package-lock.json

docs/source/
src/**/node_modules
src/.env
.env

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db